# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env/
.flaskenv

# Environment variables
*.env

# Byte-compiled files
*.pyc
*.pyo

# Logs
*.log

# Instance folder
instance/
*.db
*.sqlite3

# IDE and OS files
.DS_Store
.vscode/
.idea/
